services:
  hcc:
    image: "ghcr.io/eetu/hcc:main"
    container_name: hcc
    environment:
      - OPEN_WEATHER_API_KEY=${OPEN_WEATHER_API_KEY}
      - TOMORROW_IO_API_KEY=${TOMORROW_IO_API_KEY}
      - HUE_BRIDGE_ADDRESS=${HUE_BRIDGE_ADDRESS}
      - HUE_BRIDGE_USER=${HUE_BRIDGE_USER}
      - HUE_BRIDGE_USER_CLIENT_KEY=${HUE_BRIDGE_USER_CLIENT_KEY}
      - POSITION_LAT=${POSITION_LAT}
      - POSITION_LON=${POSITION_LON}
      - LANGUAGE=${LANGUAGE}
      - ROOMS=${ROOMS}
    ports:
      - 3000:3000
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /run/user/1000/docker.sock:/var/run/docker.sock
    command: --interval 900 hcc
