.up {
  transform: rotate(0deg);
}

.right {
  transform: rotate(90deg);
}

.down {
  transform: rotate(180deg);
}

.left {
  transform: rotate(270deg);
}

.arrow {
  position: relative;
  height: 24px;
  width: 24px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 100%;
  border: 1px solid var(--color);
  opacity: 0.5;
}

.pointer {
  position: absolute;
  left: 7px;
  top: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--color);
}
