.box {
  cursor: pointer;
}

.error,
.wait {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
}

.error {
  color: var(--error-color);
}

.wait,
.error {
  display: flex;
  justify-content: space-around;
}

.top {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  background-color: var(--background-color);
  padding: 1.5em;
  box-shadow: var(--shadow);
  border-bottom: 1px var(--border-color) solid;
}

.collapsed .top,
.collapsed .bottom {
  border: none;
}

.bottom {
  border-radius: 0 0 10px 10px;
  height: 25px;
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  border-top: 1px var(--border-color) solid;

  text-align: center;
  color: #e9e9e9;
}

[data-theme="dark"] .bottom {
  color: #646464
}

.middle {
  padding: 0 4px;
}

.collapsed .drawer {
  height: 0;
}

.drawer {
  overflow-y: scroll;
  border-left: 1px var(--border-color) solid;
  border-right: 1px var(--border-color) solid;
}