.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons-outlined.md-48 {
  font-size: 48px;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--body-color);
  color: var(--color);

  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --body-color: #f0f0f0;
  --color: #525252;
  --background-color: #fff;
  --even-color: #fafafa;
  --error-color: tomato;
  --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border-color: lightgray;
}

[data-theme="dark"] {
  --body-color: #323232 ;
  --color: #c9c9c9;
  --background-color: #0f0f0f;
  --even-color: #1f1f1f;
  --shadow: var(--body-color) 0px 1px 2px 0px,
    var(--background-color) 0px 2px 8px 1px;
  --border-color: #2a2a2a;
}