.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1em;
}

.grid .weather {
  grid-column: 1 / span 3;
  grid-row: 1;
  padding: 1em;
}

.grid .temperature {
  padding: 1em;
  grid-row: 2;
}

.title {
  margin-top: 2em;
}

.buildTag {
  position: absolute;
  font-size: 12px;
  top: 0.5em;
  right: 0.5em;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;
  }

  .grid .weather {
    padding: 1em;
  }

  .grid .temperature {
    padding: 1em;
  }

  .temperature {
    width: 100%;
  }

  .title {
    font-size: 12px;
  }
}