/*
 .spinner {
}
*/

.sun {
  animation: spin 1s alternate infinite;
}

.cloud {
  margin-left: -20px;
  animation: move 1s alternate infinite;
}

@keyframes move {
  100% {
    transform: translateX(10px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
