.temperature {
  margin: 1em;
  width: 200px;
}

.temperatureTop {
  border-radius: 10px 10px 0 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.temperatureBottom {
  border-radius: 0 0 10px 10px;
  height: 25px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  text-align: center;
  color: #e6e6e6;
}

.temperatureMiddle {
  padding: 0 10px;
}

.title {
  font-weight: normal;
  font-size: 18px;
  text-transform: capitalize;
}

.temp {
  display: flex;
  font-weight: regular;
  font-size: 50px;
}

.rooms {
  border: 1px lightgray solid;
  display: table;
  font-weight: regular;
  font-size: 14px;
  width: 100%;
}

.collapsed {
  display: none !important;
}

.rooms div {
  display: table-row;
}

.rooms div:nth-child(odd) {
  background-color: #fff;
}

.rooms div:nth-child(even) {
  background-color: #fafafa;
}

.rooms span {
  display: table-cell;
  padding: 5px;
}

button.toggleRooms {
  border: none;
  background-color: transparent;
}
