.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  margin: 1em;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.title {
  font-weight: normal;
  font-size: 18px;
  text-transform: capitalize;
  opacity: 0.45;
}

.temperature {
  display: flex;
  font-weight: regular;
  font-size: 50px;
}

.degree {
  font-weight: lighter;
  font-size: 20px;
  opacity: 0.5;
  margin-top: 5px;
}
