.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}

.grid .weather {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 1em;
}

.grid .temperature {
  padding: 1em;
  grid-row: 2;
}

.title {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  font-family: "digital-7";
}

.time :nth-child(1) {
  font-size: 6em;
}

.time :nth-child(2) {
  font-weight: lighter;
  font-size: 2em;
}

.date {
  margin-top: 1em;
  font-size: 1em;
  font-weight: lighter;
  text-transform: capitalize;
}
