.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}

.grid .weather {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 1em;
}

.grid .temperature {
  padding: 1em;
  grid-row: 2;
}

.title {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  /* font-family: "digital-7"; */
  font-size: 6em;
}

/* .time span:nth-of-type(2) {
  animation-name: blinker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
} */

.date {
  font-size: 1.5em;
  font-weight: lighter;
  text-transform: capitalize;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
