.temperature {
  min-width: 200px;
}

.temperatureTop {
  border-radius: 10px 10px 0 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  box-shadow: var(--shadow);
}

.temperatureBottom {
  border-radius: 0 0 10px 10px;
  height: 25px;
  background-color: var(--background-color);
  box-shadow: var(--shadow);
  text-align: center;
  color: #d8d8d8;
}

.temperatureMiddle {
  padding: 0 10px;
}

.title {
  font-weight: normal;
  font-size: 18px;
  text-transform: capitalize;
}

.temp {
  display: flex;
  font-weight: regular;
  font-size: 50px;
}

.rooms {
  border: 1px lightgray solid;
  display: table;
  font-size: 18px;
  width: 100%;
}

.collapsed {
  display: none !important;
}

.rooms div {
  display: table-row;
}

.rooms div:nth-child(odd) {
  background-color: var(--background-color);
}

.rooms div:nth-child(even) {
  background-color: var(--even-color);
}

.rooms span {
  display: table-cell;
  padding: 5px;
}

button.toggleRooms {
  border: none;
  background-color: transparent;
}
