.weather {
  min-width: 400px;
}

.wait {
  display: flex;
  justify-content: space-around;
}

.title {
  text-transform: capitalize;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.currentTemp {
  display: flex;
  margin-top: 15px;
}

.daily {
  position: relative;
  display: flex;
  margin-top: 1.5em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.daily .section {
  display: flex;
  flex-direction: column;
  border-right: 1px lightgrey solid;
  width: 25%;
  text-align: center;
}

.daily .section:last-of-type {
  border-right: none;
}

.daily .sectionTitle {
  font-weight: lighter;
}

.daily .sectionTemp {
  margin-top: 0.25em;
}

.temps {
  display: flex;
}

.temp {
  display: flex;
  font-weight: regular;
  font-size: 50px;
}

.feelsLike {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: lighter;
  align-self: bottom;
  margin-bottom: 5px;
}

.description {
  font-size: 12px;
  font-weight: lighter;
}

.weatherIcon {
  margin-left: 25px;
  font-size: 52px;
  align-self: center;
}

.days {
  display: table;
  font-weight: regular;
  font-size: 18px;
  width: 100%;
}

.days div {
  display: table-row;
}

.days div:nth-child(odd) {
  background-color: var(--background-color);
}

.days div:nth-child(even) {
  background-color: var(--even-color);
}

.days span {
  height: 42px;
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
}

.days span:nth-child(1) {
  text-align: center;
}

.days span:nth-child(2) {
  font-weight: bold;
}

.day {
  border-left: 1px lightgray solid;
  border-right: 1px lightgray solid;
}

.hourlyIcon {
  margin-top: 5px;
  font-size: 24px;
}
