.weather {
  min-width: 400px;
}

.wait {
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.currentTemp {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.info {
  font-size: 13px;
  margin-left: 25px;
}

.info span {
  margin-left: 10px;
}

.infoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.daily {
  position: relative;
  display: flex;
  margin-top: 1.5em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.daily .section {
  display: flex;
  flex-direction: column;
  border-right: 1px var(--border-color) solid;
  width: 25%;
  text-align: center;
}

.daily .section:last-of-type {
  border-right: none;
}

.daily .sectionTitle {
  font-weight: lighter;
}

.daily .sectionTemp {
  margin-top: 0.25em;
}

.temps {
  display: flex;
}

.temp {
  display: flex;
  font-weight: normal;
  font-size: 50px;
}

.feelsLike {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: lighter;
  align-self: bottom;
  margin-bottom: 5px;
}

.description {
  font-size: 12px;
  font-weight: lighter;
}

.weatherIcon {
  margin-left: 25px;
  font-size: 52px;
  align-self: center;
}

.days {
  background-color: var(--background-color);
  font-weight: lighter;
}

.hourlyIcon {
  margin-top: 5px;
  font-size: 24px;
}

.warningIcon {
  color: var(--error-color);
}

.warningButton {
  margin-left: 15px;
}

.warning {
  font-size: 13px;
  padding: 5px;
}

.windArrow {
  margin-left: 5px;
}
